/* import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

/* General Styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #8892BF;

}
.container > h1:first-child {
    color: white;
    font-weight: 900;
}

form {
    width: 50%;
    height: 50vh;
    border-radius: 8px;
    padding: 15px;
    background-color: #e3e3e3f5;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.form-control {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-control > label {
    font-weight: 600;
}

.form-control > input {
    padding: 8px 4px;
    border-radius: 8px;
    border: none;
}

.form-control > input:focus {
    outline: none;
    border: 2px solid #8892BF;
    
}

.form-control > span {
    font-size: 12px;
}

.form-control > span > a {
    color: #8892BF;
    font-weight: 500;
}

button[type="submit"] {
    padding: 12px;
    background-color: #8892BF;
    border: none;
    color: white;
    border-radius: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.1s transform ease-in;
}

button[type="submit"]:hover {
    transform: scale(1.05);
}

button[type="submit"]:active {
    transform: scale(0.95);
}